<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halloween Image Upload</title>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/favico.svg') }}">
    <style>
        [role=radio] {
            color: #DAE7EB;
            background-color: unset;
        }
    
        [role=radio]:checked {
            background-image: url("{{ url_for('static', filename='images/circle.svg')}}");
            background-size: 1em 1em;
            border-color: #DAE7EB;
        }
    
        [role=radio]:focus,
        [role=radio]:focus-within {
            border-width: 0;
        }
    </style>
</head>

<body class="font-sans text-[#D8E7EB] bg-[#111827] min-h-screen flex flex-col">
    <nav class="bg-[#030712] dark:bg-gray-900 sticky w-full z-20 top-0 start-0">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-skull h-6 w-6 text-red-600" data-id="1">
                    <circle cx="9" cy="12" r="1"></circle>
                    <circle cx="15" cy="12" r="1"></circle>
                    <path d="M8 20v2h8v-2"></path>
                    <path d="m12.5 17-.5-1-.5 1h1z"></path>
                    <path d="M16 20a2 2 0 0 0 1.56-3.25 8 8 0 1 0-11.12 0A2 2 0 0 0 8 20"></path>
                </svg>
                <span
                    class="self-center text-xl font-bold whitespace-nowrap md:text-[#D8E7EB] dark:text-white">Halloween
                    Portrait Ai</span>
            </a>
            <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                <a href="/upload"
                    class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 h-10 px-4 py-2 bg-[#22C55E] text-gray-900 hover:bg-[#16A34A] shadow-lg shadow-[#22C55E]/50">Get
                    started</a>
                <button data-collapse-toggle="navbar-sticky" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-sticky" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                <ul
                    class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="https://cloudinary.com/"
                            class="front-medium text-sm block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                            aria-current="page" target="_blank">Powederd By Cloudinary</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="mb-8 py-10" data-id="10">
        <h2 class="text-3xl font-bold mb-4 text-[#D8E7EB]" data-id="11">Transform Your Image into a Halloween
            Masterpiece!</h2>
        <p class="text-xl text-[#D8E7EB]" data-id="12">Upload your photo, choose a spooky costume and eerie background,
            and watch the magic happen!</p>
    </section>
    <form id="uploadForm" action="/upload" method="post">
    <input type="hidden" id="publicIdInput" name="public_id">
    <input type="hidden" id="cloudName" value="{{ cloud_name }}">
    <input type="hidden" id="uploadPreset" value="{{ upload_preset }}">
    <input type="hidden" id="apiKey" value="{{ api_key }}">
    <div class="grid md:grid-cols-2 gap-8" data-id="13">
        <section class="space-y-4" data-id="14">
            <div class="grid grid-cols-2 gap-4" data-id="15">
                <div class="border-2 border-[#166534] rounded-lg p-4 text-center bg-gray-900" data-id="16">
                    <h3 class="text-lg font-semibold mb-2 text-[#22C55E]" data-id="17">Before</h3>
                    <div class="flex flex-col items-center justify-center h-48" data-id="19"><svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-camera w-12 h-12 mb-2 text-[#22C55E]" data-id="20">
                            <path
                                d="M14.5 4h-5L7 7H4a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-3l-2.5-3z">
                            </path>
                            <circle cx="12" cy="13" r="3"></circle>
                        </svg>
                        <p class="text-gray-400 text-sm" data-id="21">No image uploaded</p>
                    </div>
                </div>
                <div class="border-2 border-[#166534] rounded-lg p-4 text-center bg-gray-900" data-id="22">
                    <div id="after">
                    <h3 class="text-lg font-semibold mb-2 text-[#22C55E]" data-id="23">After</h3>
                        <div class="flex flex-col items-center justify-center h-48" data-id="25"><svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-ghost w-12 h-12 mb-2 text-[#22C55E]"
                                data-id="26">
                                <path d="M9 10h.01"></path>
                                <path d="M15 10h.01"></path>
                                <path d="M12 2a8 8 0 0 0-8 8v12l3-3 2.5 2.5L12 19l2.5 2.5L17 19l3 3V10a8 8 0 0 0-8-8z">
                                </path>
                            </svg>
                            <p class="text-gray-400 text-sm" data-id="27">Apply effects to see result</p>
                        </div>
                    </div>
                    <div class="flex-col items-center justify-center h-56 z-10 hidden" id="loanding">
                        <svg class="animate-spin h-12 w-12 text-[#22C55E]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v4m0 0l3-3m-3 3L9 5M4 8h16m-7 4v8m0-8h3m-3 0l-3 3m3-3l-3-3" />
                        </svg>
                        <p class="text-gray-400 text-sm mt-6">Loading... please wait</p>
                    </div>
                    <div class="grid-cols-2 gap-4 hidden" id="photo_grid"></div>
                </div>
            </div>
            <div data-id="28"><input
                    class="h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 hidden"
                    id="image-upload" accept="image/*" data-id="29" type="file"><label
                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 cursor-pointer"
                    for="image-upload" data-id="30"><button type="button" id="cloudinaryUploadButton"
                        class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 h-10 px-4 py-2 w-full bg-[#22C55E] text-gray-900 hover:bg-[#16A34A] shadow-lg shadow-[#22C55E]/50"
                        data-id="31"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="lucide lucide-upload mr-2 h-4 w-4" data-id="32">
                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                            <polyline points="17 8 12 3 7 8"></polyline>
                            <line x1="12" x2="12" y1="3" y2="15"></line>
                        </svg> Upload Image</button></label></div>
        </section>
        <section class="space-y-6 bg-gray-900 p-6 rounded-lg border border-[#166534]" data-id="33">
            <div data-id="34">
                <h3 class="text-xl font-semibold mb-2 text-[#22C55E]" data-id="35">Choose a Costume:</h3>
                <div role="radiogroup" aria-required="false" dir="ltr" class="grid gap-2" data-id="36" tabindex="0"
                    style="outline: none;">
                    <div class="flex items-center space-x-2" data-id="37"><input type="radio" name="costume-radio"
                        role="radio" aria-checked="false" data-state="unchecked" value="random"
                        class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        id="random" data-id="38" tabindex="-1" data-radix-collection-item=""></input><label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="random" data-id="39">Random</label></div>
                    <div class="flex items-center space-x-2" data-id="37"><input type="radio" name="costume-radio"
                        role="radio" aria-checked="false" data-state="unchecked" value="pirate"
                        class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        id="pirate" data-id="38" tabindex="-1" data-radix-collection-item=""></input><label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="pirate" data-id="39">Pirate</label></div>
                    <div class="flex items-center space-x-2" data-id="37"><input type="radio" name="costume-radio"
                            role="radio" aria-checked="false" data-state="unchecked" value="ghost"
                            class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                            id="ghost" data-id="38" tabindex="-1" data-radix-collection-item=""></input><label
                            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                            for="ghost" data-id="39">Ghost</label></div>
                    <div class="flex items-center space-x-2" data-id="40"><input type="radio" name="costume-radio"
                            role="radio" aria-checked="false" data-state="unchecked" value="vampire"
                            class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                            id="vampire" data-id="41" tabindex="-1" data-radix-collection-item=""></input><label
                            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                            for="vampire" data-id="42">Vampire</label></div>
                    <div class="flex items-center space-x-2" data-id="43"><input type="radio" name="costume-radio"
                            role="radio" aria-checked="true" data-state="checked" value="witch"
                            class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                            id="witch" data-id="44" tabindex="0" data-radix-collection-item=""><span
                            data-state="checked" class="flex items-center justify-center"></input><label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                for="witch" data-id="45">Witch</label></div>
                    <div class="flex items-center space-x-2" data-id="46"><input type="radio" name="costume-radio"
                            role="radio" aria-checked="false" data-state="unchecked" value="zombie"
                            class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                            id="zombie" data-id="47" tabindex="-1" data-radix-collection-item=""></input><label
                            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                            for="zombie" data-id="48">Zombie</label></div>
                </div>
            </div>
            <div data-id="49">
                <h3 class="text-xl font-semibold mb-2 text-[#22C55E]" data-id="50">Choose a Background:</h3>
                <div role="radiogroup" aria-required="false" dir="ltr" class="grid gap-2" data-id="51" tabindex="0"
                    style="outline: none;">
                    <div class="flex items-center space-x-2" data-id="52"><input type="radio" name="theme-radio"
                            role="radio" aria-checked="true" data-state="checked" value="graveyard"
                            class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                            id="graveyard" data-id="53" tabindex="-1" data-radix-collection-item=""><span
                            data-state="checked" class="flex items-center justify-center"></input><label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                for="graveyard" data-id="54">Spooky Graveyard</label></div>
                    <div class="flex items-center space-x-2" data-id="55"><input type="radio" name="theme-radio"
                            role="radio" aria-checked="false" data-state="unchecked" value="haunted-house"
                            class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                            id="haunted-house" data-id="56" tabindex="-1" data-radix-collection-item=""></input><label
                            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                            for="haunted-house" data-id="57">Haunted House</label></div>
                    <div class="flex items-center space-x-2" data-id="58"><input type="radio" name="theme-radio"
                            role="radio" aria-checked="false" data-state="unchecked" value="pumpkin-patch"
                            class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                            id="pumpkin-patch" data-id="59" tabindex="-1" data-radix-collection-item=""></input><label
                            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                            for="pumpkin-patch" data-id="60">Pumpkin Patch</label></div>
                    <div class="flex items-center space-x-2" data-id="61"><input type="radio" name="theme-radio"
                            role="radio" aria-checked="false" data-state="unchecked" value="dark-forest"
                            class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                            id="dark-forest" data-id="62" tabindex="-1" data-radix-collection-item=""></input><label
                            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                            for="dark-forest" data-id="63">Dark Forest</label></div>
                </div>
                <div data-id="64">
                    <h3 class="text-xl font-semibold mb-2 pt-6 text-[#22C55E]" data-id="65">Choose a Gender:</h3>
                    <div role="radiogroup" aria-required="false" dir="ltr" class="grid gap-2 pb-6" data-id="66"
                        tabindex="0" style="outline: none;">
                        <div class="flex items-center space-x-2" data-id="67">
                            <input type="radio" name="gender-radio" role="radio" aria-checked="true"
                                data-state="checked" value="male"
                                class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                id="male" data-id="68" tabindex="-1" data-radix-collection-item=""></input><label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                for="male" data-id="69">Male</label>
                        </div>
                        <div class="flex items-center space-x-2" data-id="70"><input type="radio" name="gender-radio"
                                role="radio" aria-checked="false" data-state="unchecked" value="female"
                                class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                id="female" data-id="71" tabindex="-1" data-radix-collection-item=""></input><label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                for="female" data-id="72">Female</label></div>
                    </div>
                </div>
                <button
                    type="submit" class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 h-10 px-4 py-2 w-full bg-[#22C55E] text-gray-900 hover:bg-[#16A34A] shadow-lg shadow-[#22C55E]/50"
                    data-id="73">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-skull mr-2 h-4 w-4" data-id="65">
                        <circle cx="9" cy="12" r="1"></circle>
                        <circle cx="15" cy="12" r="1"></circle>
                        <path d="M8 20v2h8v-2"></path>
                        <path d="m12.5 17-.5-1-.5 1h1z"></path>
                        <path d="M16 20a2 2 0 0 0 1.56-3.25 8 8 0 1 0-11.12 0A2 2 0 0 0 8 20"></path>
                    </svg>
                    Apply Spooky Effect
                </button>

        </section>
    </div>
    </form>
    <div id="loading" style="display:none;">
        <p id="loadingMessage"></p>
    </div>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
    <footer class="bg-[#030712] p-4 mt-auto text-center">
        <p class="font-sans text-[#D8E7EB] font-bold">&copy; 2024 Halloween Image Transformation. All rights reserved.</p>
      </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <input type="number" style="display: none;" value=0 name="counter">
</body>

</html>